* {
    margin: 0px;
    padding: 0px;
}

/* body{
   background-image: url("/images/Capture.PNG") ;
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
} */
/*home page css*/
.jumbotron {
    background-image: url("../images/Capture.PNG");
    -webkit-background-size: 100% 100%;
    padding: 10px;
    padding-bottom: 20em;
    background-size: 100% 100%;
}

#brand_name {
    color: white;
    border-top: 2px solid white;
    padding: 10px;
    border-radius: 7px;
    border-left: 2px solid white;
    margin-top: 35;
}


.mynav-item {
    color: white;
    font-size: large;
    /* border-bottom: 2px solid white; */
    padding: 5px;
}

.nav-link {
    margin-right: 30px;
    margin-top: 20px;
}

.mynav-item:hover {
    margin-top: 30px;
    font-weight: bolder;
    border-top: 1px solid white;
    border-radius: 7px;
    border-right: 1px solid white;

}

/*sign up or login css*/
.welcome_login {
    background-color: #3fc3d4;
    color: white;
}

.login_form {
    background-color: #3f5160;
    height: 600px;
    display: flex;
    color: white;
}

.form-div {
    margin-top: 5%;
    box-shadow: 5px 10px 10px 10px;
}

#signup {
    color: yellow;
}

#signup:hover {
    color: violet;

}

#login {
    color: yellow;
}

#login:hover {
    color: violet;
}

.message {
    border: 3px solid black;
    border-radius: 5px;
    font-size: 23px;
    text-align: center;
    padding: 5px;
    background-color: teal;
    color: white;
    width: 75%;
}

